
html{
    behavior:windowSizer;
    width:100%;
    height:100%; 
} 

body{
    margin:0;
    width:100%%;
    height:100%%; 
    background-image: url(images\bj.jpg); 
    background-position: 55px 115px 40px 215px; 
    background-repeat: expand stretch-top stretch-left stretch-middle stretch-right stretch-bottom;
 
}
 #head{
     width:81px;
    height:81px; 
    background-image:url(images\picture.png); 
    background-repeat:no-repeat;
    position: absolute;
    left:49px;
    top:40px; 
 }

#title-bar{ 
    behavior:windowCommand;
    width:100%;
    height:45px; 
} 

#title-bar .buttons {  
    position:absolute;
    height:16px;
    right:5px;
    top:0px;
    padding:10px; 

}

#title-bar a[command]{
    display:block; 
    float:right;
    width:16px;
    height:16px;
    color:#9c9b9d;
    font-family:"Marlett"; 
    font-size: 14px;
    padding:3px 4px 4px 6px; 
}

#title-bar a[command]:hover{ 
    background:#f0a331;
    color:#FFFFFF;
}

#title-bar a[command]:active{ 
    background:#E09321;
    color:#EEE;
}
 
#title-bar a[command="window-restore"]{ 
    content:"2";
}

